<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Daily Appointments - Shwan Orthodontics</title>
  <link rel="stylesheet" href="../../css/main.css" />
  <link rel="stylesheet" href="../../css/pages/appointments.css" />
  <link rel="stylesheet" href="../../css/components/universal-header.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <!-- React handled by Vite -->
</head>

<body class="daily-appointments-view">
  <!-- Universal Header -->
  <div id="universal-header-root"></div>

  <!-- React App Mount Point -->
  <div id="daily-appointments-root"></div>

  <!-- Load React App -->
  <script type="module" src="../../js/pages/daily-appointments.jsx"></script>
</body>

</html>
