/* pages/front.css - Styles specific to the front/patient page */

p, a {
    font-size: large;
    margin-block: auto;
  }
  
  nav {
    margin: 10px;
  }
  
  .body {
    margin: 20px;
    background-color: turquoise;
    padding: 10px;
  }
  
  header {
    text-align: center;
  }
  
  .photo {
    max-height: 125px;
  }
  
  span.no-underline {
    text-decoration: none;
  }
  
  .fa-brands, .fa-solid {
    padding: 20px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa-brands:hover {
    opacity: 0.7;
  }
  
  .fa-image, .fa-sack-dollar {
    font-size: 30px;
    color: rgb(0, 0, 0);
    width: 30px;
  }
  
  .fa-facebook, .fa-mobile-screen {
    background: #3b5998;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-snapchat {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .lists {
    display: flex;
    margin: 0;
  }
  
  .photos, .assets, .xrays {
    margin: 0;
  }
  
  #close {
    max-width: 40px;
  }
  
  .x_item {
    display: flex;
    vertical-align: top;
    justify-content: flex-start;
    align-items: center;
  }
  
  .x_img_container {
    width: 90px;
    margin: 5px;
    display: block;
    flex-shrink: 0;
  }
  
  .x_item p {
    margin-right: 10px;
  }
  
  .x_img {
    max-height: 50px;
    max-width: 80px;
    margin: 5px;
    flex-shrink: 0;
    display: block;
    margin: 0;
  }
  
  .x_item button {
    margin-left: auto;
  }
  
  .modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 100px;
    left: 0;
    top: 0;
    border: 3px solid #999999;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .openButton {
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color: #1c87c9;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    align-self: flex-end;
  }
  
  .times {
    flex: 1, 1, 50%;
    margin-bottom: 10px;
  }
  
  .photostype {
    flex: 1, 1, 50%
  }
  
  h2 {
    margin-bottom: 10;
  }
  
  .formContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 25%;
  }
  
  .formButtons {
    flex-basis: 100%;
  }