<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Statistics - Shwan Orthodontics</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/components/universal-header.css">
    <link rel="stylesheet" href="../css/pages/statistics.css">
    <link rel="stylesheet" href="../fontawesome/css/all.min.css">
</head>
<body>
    <div id="root"></div>
    <script type="module" src="../js/pages/statistics.jsx"></script>
</body>
</html>
