<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="../css/pages/xrays.css" />
  <title>X-Ray List</title>
  <style>
    /* Adjust for iframe content - remove header space */
    body {
      margin: 0;
      padding: 20px;
      background: transparent;
    }
    
    /* Hide any header that might be added by JS */
    .header {
      display: none !important;
    }
  </style>
</head>

<body>
  <div class="xrays-container">
    <h3>X-Rays</h3>
    <ul class="xrays"></ul>
  </div>
  <script type="module" src="../js/pages/xrays.js"></script>

</body>

</html>