<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/pages/front.css" />
    <link href="../../fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="../../fontawesome/css/brands.css" rel="stylesheet" />
    <link href="../../fontawesome/css/solid.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <iframe name="invisible" id="invisible" hidden ></iframe>
    <div class="body">
      <header>
        <h1 class="h1">Shwan Orthodontics</h1>
      </header>
      <img src="" class="photo" alt="" />
      <div class="infos">
        <p class="pname">Patient Name:</p>
        <p class="sdate">Start Date:</p>
      </div>
      <a class="plink" href=""
        ><i class="fa-regular fa-sack-dollar"></i> Payments</a
      >

      <div class="lists">
        <ul class="assets">
          <h3>Assets</h3>
        </ul>
        <ul class="xrays">
          <h3>X-Rays</h3>
        </ul>
        <!-- <i class="fa-solid fa-image"></i>  -->
        <ul class="photos">
          <h3>Photos</h3>
        </ul>
        <!-- Add font awesome icons -->
        <button class="openButton" onclick="compare()">
          <strong>Compare Photos</strong>
        </button>

      </div>
      <nav>
        <!-- href="https://www.facebook.com/Shwan.Ortho" -->
        <a
          href="fb://page/747441278629266"
          class="fa-brands fa-facebook"
        ></a>
        <a href="#" class="fa-brands fa-youtube"></a>
        <a href="https://www.instagram.com/shwan.ortho/" class="fa-brands fa-instagram"></a>
        <a href="#" class="fa-brands fa-snapchat"></a>
        <a href="vcard.vcf" class="fa-solid fa-mobile-screen"></a>
      </nav>
        <div id="abc">
          <!-- Popup Div Starts Here -->
          <div id="popupContact">
          <!-- Contact Us Form -->
          <form action="/sendxray" id="popform" method="get" name="form" target="invisible" class="waform">
          <img id="close" src="images/R.png" onclick ="div_hide()">
          <h2>Send WhatsUp</h2>
          <hr>
          <input id="code" name="code" placeholder="Code" type="hidden" class="wainput">
          <input id="phone" name="phone" placeholder="phone" type ="number" class="wainput">
          <input id="file" name="file" placeholder="File" type="text" class="wainput">
          <a href="javascript:%20check_empty()" id="submit">Send</a>
          <br>
          <div id="emptyBar">
            <div id="filledBar">Sending...</div>
          </div>
          </form>
          <br>
          <div id="emptyBar">
            <div id="filledBar">Sending...</div>
          </div>
          </div>
          <!-- Popup Div Ends Here -->
          </div>
    </div>
    <script type="module" src="../../js/pages/patient-front.js"></script>
  </body>
</html>
