/* pages/getid.css - Styles specific to the getid/lookup page */

header {
    text-align: center;
    padding-top: 1px;
    background-color: #3399ff;
    color: #ffffff;
    font-size: x-large;
  }
  
  h3 {
    margin-top: 2px;
    text-align: center;
    background-color: #80bfff;
  }
  
  form {
    width: 45%;
    display: inline-block;
    margin: 10px;
  }
  
  footer {
    margin-top: 3%;
    text-align: center;
  }
  
  .fa-facebook {
    background: #3b5998;
    color: white;
    grid-area: h;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
    grid-area: i;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
    grid-area: j;
  }
  
  .fa-snapchat {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    grid-area: k;
  }
  
  .fa-brands {
    padding: 20px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa-brands:hover {
    opacity: 0.7;
  }