/* pages/grid.css - Styles specific to the grid pages */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    background-color: #cce6ff;
  }
  
  .header {
    text-align: center;
    padding: 2px;
  }
  
  #dolph_gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100vw - 200px);
    column-gap: 2px;
    align-items: center;
  }
  
  /* Create three columns */
  .column {
    display: grid;
    grid-template-rows: 48% 28% 24%;
    grid-row-gap: 2px;
    flex: 33%;
    max-height: calc(100vh - 47px);
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%
  }
  
  li {
    float: left;
  }
  
  /* Responsive layout - makes a two column-layout instead of three columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #035275;
  }
  
  li a {
    background-color: #1394a0;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin: 0px 5px;
  }
  
  li a:hover {
    background-color: #c3e9b4;
    color: rgb(41, 96, 173);
  }
  
  /* Responsive layout - makes the two columns stack on top of each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  .selectedTP {
    background-color: #c3e9b4;
    color: rgb(41, 96, 173);
  }