/* typography.css - Font families, sizes, weights */
body {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  line-height: 1.5;
  color: var(--text-color);
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

p,
ul,
ol {
  margin-bottom: 1rem;
}



.text-bold {
  font-weight: var(--font-weight-bold);
}

.text-normal {
  font-weight: var(--font-weight-normal);
}

.text-sm {
  font-size: var(--font-size-sm);
}

.text-md {
  font-size: var(--font-size-base);
}


.text-lg {
  font-size: var(--font-size-lg);
}

.text-xl {
  font-size: var(--font-size-xl);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-success {
  color: var(--success-color);
}

.text-error {
  color: var(--error-color);
}

.text-warning {
  color: var(--warning-color);
}

footer {
  text-align: center;
  padding: 1rem;
}