<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../css/main.css" />
  <link rel="stylesheet" href="../../css/pages/grid.css" />
  <title>Patient Images</title>
</head>

<body>
  <!-- Header for navigation -->
  <div class="header">
    <ul class="nav">
      <!-- Navigation tabs will be loaded dynamically -->
    </ul>
  </div>

  <!-- React Grid Component Container -->
  <div id="grid-root"></div>

  <!-- Load modern JSX entry point -->
  <script type="module" src="../../js/pages/grid.jsx"></script>
  
  <!-- Grid component is now handled by grid.jsx module -->
</body>

</html>