<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../css/main.css" />
  <link rel="stylesheet" href="../../css/pages/grid.css" />
  <link rel="stylesheet" href="../../photoswipe/dist/photoswipe.css" />
  <title>Patient Images</title>
</head>

<body>
  <!-- Header -->
  <div class="header">
    <ul class="nav">
      <!-- Navigation tabs will be loaded dynamically -->
    </ul>
  </div>

  <!-- Photo Grid -->
  <div id="dolph_gallery" class="pswp-gallery">
    <a id="apf" target="_blank"><img id="pf" alt="Profile" /></a>
    <a id="afr" target="_blank"><img id="fr" alt="Rest" /></a>
    <a id="afs" target="_blank"><img id="fs" alt="Smile" /></a>
    <a id="aup" target="_blank"><img id="up" alt="Upper" /></a>
    <a id="alogo" target="_blank"><img id="logo" alt="Shwan Orthodontics" /></a>
    <a id="alw" target="_blank"><img id="lw" alt="Lower" /></a>
    <a id="art" target="_blank"><img id="rt" alt="Right" /></a>
    <a id="act" target="_blank"><img id="ct" alt="Center" /></a>
    <a id="alf" target="_blank"><img id="lf" alt="Left" /></a>
  </div>

  <!-- Load the module scripts -->
  <script type="module" src="../../js/pages/grid.js"></script>
</body>

</html>