<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="fontawesome/css/brands.css" rel="stylesheet" />
    <link href="fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/main.css" />
<link rel="stylesheet" href="css/pages/getid.css" />
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Shwan Orthodontics</h1>
      </header>
      <form action="/front" method="GET">
        <fieldset>
          <h3>look-up Patients</h3>
          <label>CODE</label>
          <input type ="text" id = 'empID' name="code" required>
          <br><br>
          <button type ="reset">Reset</button>
          <button type ="submit">Submit</button>
        </fieldset>
      </form>
      <nav>
        <a href="https://www.facebook.com/Shwan.Ortho" class="fa-brands fa-facebook"></a>
        <a href="#" class="fa-brands fa-youtube"></a>
        <a href="#" class="fa-brands fa-instagram"></a>
        <a href="#" class="fa-brands fa-snapchat"></a>
    </nav>
</body>
</html>