<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment History</title>
    <link rel="stylesheet" href="../../css/main.css" />
<link rel="stylesheet" href="../../css/pages/payments.css" />
</head>
<body>
    <!-- Header -->
    <div class="header">
        <ul class="nav">
            <!-- Navigation tabs will be loaded dynamically -->
        </ul>
    </div>
    
    <div class="container">
        <h1 class="page-title">Payment History</h1>
        <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Date</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <!-- Payment rows will be added here dynamically -->
            </tbody>
        </table>
    </div> 
    <script type="module" src="../../js/pages/payments.js"></script> 
</body>
</html>